numpy==1.23.5
onnx==1.15.0
onnx_opcounter==0.0.3
onnxruntime==1.16.3
opencv_contrib_python==4.9.0.80
opencv_python==4.9.0.80
opencv_python_headless==4.9.0.80
PyYAML==6.0.1
PyYAML==6.0.1
scipy==1.13.0
skimage==0.0
torch==1.10.1+cu113
torchvision==0.11.2+cu113
